body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  background: #000;
  color: #333;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

ul {
  list-style-type: none;
}

button {
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 8px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  min-width: 44px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #666;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.graph-info {
  background-color: hsl(100, 40%, 60%);
  padding: 0.25em;
  border-radius: 8px;
}

.current-info {
  background-color: hsl(80, 40%, 60%);
  padding: 0.25em;
  border-radius: 8px;
}

svg {
  background-color: #333;
}

.ohc-level {
  font-size: larger;
  font-weight: bold;
}

.debug-only {
  display: none;
  visibility: hidden;
}

.debug .debug-only {
  display: block;
  visibility: visible;
}

.visuals-container > * {
  position: absolute;
  z-index: 1;
}

#shader-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.debug #shader-canvas {
  position: static;
}

.visuals-text {
  justify-content: center;
  gap: 1.5em;
  width: 100%;
  height: 100%;
  font-size: 60px;
  color: hsl(0, 0%, 100%, .8);
}

#start-button {
  top: 20%;
}

.non-shader {
  position: fixed;
  top: 0;
  left: 0;
}

.debug .non-shader {
  position: static;
}


@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
